*  {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.logo h1 {
    /* text-decoration: none; */
    color: #ffffff;
    font-weight: bold;
    font-size: 50px;
      text-align: center; 
     margin-left: 25px;
}

nav{
    display: flex;
    justify-content: space-between;
    /*border: 1px solid red;*/
    padding: 10px;
    background-color: #000000;
}
.mune{
    display: flex;
    list-style: none;
}
.mune li {
    margin-left: 10px;
}
.mune li a {
    text-decoration: none;
    color: #ffffff;
     
}
.banner {
    /* background-image: url(CAT.jpg); */
     background-image: linear-gradient(rgb(0, 0, 0), rgb(255, 255, 255));
    color: #f9f9f9;
    display: flex;
    justify-content: left;
    align-content: left;
    padding: 20px;
}
.banner-info {
    /* text-align: center; */
    display: flex;
    
} 
.box{
    margin-top: 40px;
    margin-left: 200px;
    /* text-align: center; */
   
    /* background-color: rgb(255, 255, 255); */
}
.box h1 {
    font-size: 50px;
}
.box p {
    font-size: 30px;
}


.banner-info img {
    margin-left: 5px;
    width: 250px;
    border-radius: 10%;
}
main{
     display: flex; 
    color: #ffffff;
}
main div {
    padding: 30px;
    margin-left: 1px;
}
main div p {
    padding: 3px;
    
}

footer{
    background-color: #000000;
    text-align: center;
    padding: 60px;
    

}
footer a {
    margin-left: 2px;
}
.T3{
    background-color: #3d3737;
    text-decoration: none;
    margin-left: 2px;
    
   
}
.T3 h3{
    /* text-align: center; */
    /* margin-right: 700px; */
   
}
.T3 p {
    
    
    
   
}

.T1{
    background-color: #3d3737;
    
   
}
.T2{
    background-color: #3d3737;
}
.call{
    
    
    margin-top: 20px;
    /* margin-left: 200px; */
    color: #ffffff;
}
.call p {
    
    font-size: 30px;
    color: #ffffff;
    text-decoration: none;
}
.call img {
    
    width: 50px;
}

